@page "/account"
@using BlazorApp1.Shared.Data
@inject HttpClient Http
@inject ApiKey fmpApiKey

<PageTitle>Account - IDPA Aktienanalyse</PageTitle>
<PageHeader HeaderTitle="Account"></PageHeader>

<style>
    :root {
        --color: #4E5BED;
        --transition-time: 0.5s;
    }

    body {
        margin: 0;
        min-height: 100vh;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    a {
        color: inherit;
    }
</style>

<div class="my-5">
    <AccessControl />
</div>

@code {

}