@page "/impressum"
@using BlazorApp1.Shared.Data

<PageTitle>Account - IDPA Aktienanalyse</PageTitle>
<PageHeader HeaderTitle="Impressum"></PageHeader>

<style>
    body {
        margin: 0;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
</style>

<br />
<div class="container text-center">
    <p>
        Vincent Kilian Wittlin & Ernest Schaffner
    </p>
    <p>
        Gewerblich-Industrielle Berufsfachschule Solothurn, Kreuzacker 10, CH-4502 Solothurn
    </p>
    <p>
        E-Mail: <a href="mailto:vincentkilian.wittlin@bbzsogr.ch">Vincent Kilian Wittlin</a>
    </p>
    <p>
        E-Mail: <a href="mailto:ernest.schaffner@bbzsogr.ch">Ernest Schaffner</a>
    </p>
    <p>
        2022
    </p>
</div>

@code {

}