.basic-info {
    margin: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .basic-info h6 {
        color: var(--signature-blue);
    }

.imageContainer {
    max-width: 90%;
}