.homeImage {
    max-width: 100%;
    height: auto;
    border-radius: .5rem;
    opacity: 0.8;
}

.basic-info {
    margin: 3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .basic-info h6 {
        color: #428BFF;
    }