@page "/"
@inject HttpClient Http
@inject ApiKey fmpApiKey
@using BlazorApp1.Shared.Data

<PageTitle>IDPA Aktienanalyse</PageTitle>

<style>
    :root {
      --color: #4E5BED;
      --transition-time: 0.5s;
    }

    body {
        margin: 0;
        min-height: 100vh;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    a {
      color: inherit;
    }
</style>

<PageHeader HeaderTitle="Welcome back!"></PageHeader>

<div class="basic-info">
    <h5>
        The easiest way to analyze stocks! Try it now for free...
    </h5>
    <h6 style="font-style: italic">
        Information provided without guarantee!
    </h6>
</div>

<div class="imageContainer container-fluid align-items-center justify-content-center text-center">
    <picture>
        <source media="(min-width:1100px)" srcset="https://upload.wikimedia.org/wikipedia/commons/e/ea/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg" style="max-width:100%;height:auto;box-shadow: 10px 10px 6px #888888;border-radius:0.5rem;opacity:0.8;">
        <source media="(max-width:1100px)" srcset="https://upload.wikimedia.org/wikipedia/commons/e/e1/Crowd_outside_nyse.jpg" style="max-width:100%;height:auto;box-shadow: 10px 10px 6px #888888;border-radius:0.5rem;opacity:0.8;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/NY_stock_exchange_traders_floor_LC-U9-10548-6.jpg" alt="NYSE" style="max-width:100%;box-shadow: 10px 10px 6px #888888;height:auto;border-radius:0.5rem;opacity:0.8;">
    </picture>
</div>

@code {
    
}