@page "/"
@inject HttpClient Http
@inject ApiKey fmpApiKey
@using BlazorApp1.Shared.Data

<PageTitle>IDPA Aktienanalyse</PageTitle>

<style>
    :root {
      --color: #4E5BED;
      --transition-time: 0.5s;
    }

    body {
        margin: 0;
        min-height: 100vh;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    a {
      color: inherit;
    }
</style>

<div class="hero">
    <div class="container_bg">
        <h1 style="font-weight: bold;">IDPA - Aktienanalye simplifiziert</h1>
        <h2 style="color: var(--signature-blue)">BM 2023</h2>
        <p style="font-style: italic;">Authoren: Vincent Kilian Wittlin & Ernest Schaffner</p>
    </div>
</div>

<div class="container_bg subtext">
    <h2>Information - IDPA</h2>
    <hr />
    <p>Sämtliche Angaben ohne Gewähr!</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>

@code {
    
}