@page "/info"
@using BlazorApp1.Shared.Data

<PageTitle>Information - IDPA Aktienanalyse</PageTitle>
<PageHeader HeaderTitle="Information"></PageHeader>
<br />

<style>
    body {
        margin: 0;
        min-height: 100vh;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container text-center">
    <h4 style="color: var(--signature-yellow);">All information is provided without guarantee!</h4>
    <p>
        While we are committed to the truthfulness of information, due to our
        lack of responsibility for data management, we cannot guarantee the
        accuracy of any of the data we provide. All data is sourced from the API
        of Financial Modeling Preparation (FMP). Please note that this is not investment advice, and the authors are not
        liable for any actions you may take as a result.
    </p>
</div>
<br />

<div class="container text-center">
    <h4 style="color: var(--signature-blue);">Introduction</h4>
    <p>
        Wir sind zwei junge, angehende schweizer Maturanten, die diese Website als den praktischen Teil einer Projektarbeit erstellt haben. Wir beide investieren am Aktienmarkt in ETFs und Aktien und wollten deshalb eine Projektarbeit erstellen, die etwas mit unserem gemeinsamen Hobby zu tun hat.

        Als wir mit dem Investieren anfingen, fanden wir es schwer eine zuverlässige Informationsquelle zu finden, welche kein Vermögen kostete und bei der alle benötigten Informationen auf einen Blick ersichtlich waren. Aus diesem Grund entschieden wir uns, einen überschaubaren Stock-Screener zu entwickeln, bei dem alle Informationen kostenlos zur Verfügung gestellt werden.

        Unser Ziel ist es, jungen Investorinnen und Investoren einen tiefen Einblick in die Bilanzen der Unternehmen zu bieten und ihr wissen über den Aktienmarkt zu vergrössern
    </p>
</div>

@code {

}
