@page "/info"
@inject HttpClient Http
@inject ApiKey fmpApiKey
@using BlazorApp1.Shared.Data

<PageHeader HeaderTitle="General Information"></PageHeader>

<div class="container p-5 my-4 text-center">
    <h4 style="color: #428BFF;">Keine Anlageempfehlungen oder professionelle Beratung!</h4>
    <p>
        Die Website dient nicht der Anlageberatung, und nichts auf der Website darf als Aufforderung zum Kauf oder als Empfehlung für ein Wertpapier durch Stocks.ch oder einen Dritten interpretiert werden. Ebenfalls möchten wir darauf hinweisen, dass es keine Garantie für die Richtigkeit der Daten gibt. 

        Sie allein sind dafür verantwortlich zu entscheiden, ob ein Wertpapier oder ein ETF, für Sie auf der Grundlage Ihrer Anlageziele und Ihrer persönlichen und finanziellen Situation angemessen oder geeignet ist.  

        Beim Benutzen dieser Seite erkennen Sie ausdrücklich an, dass Stocks.ch in keiner Weise für Verluste oder Gewinne haftbar gemacht werden kann, die aus der Nutzung des Inhalts jeglicher Art auf der Website entstehen.  

        Sie erkennen an, dass Sie Ihre Anlageentscheidungen und -empfehlungen ausschließlich nach eigenem Ermessen treffen und dass der Inhalt von Stocks.ch lediglich eine zusätzliche Informationsquelle darstellt, die Sie bei diesen Entscheidungen unterstützt.  

        Wir übernehmen keine Verantwortung, falls Sie sich, aufgrund der Ihnen von Stocks.ch zur Verfügung gestellten Informationen, für den nächsten Warren Buffet halten und ihre gesamten Ersparnisse verlieren. 
    </p>
</div>

<div class="container p-5 my-4 text-center">
    <h4 style="color: #428BFF;">Vorstellung</h4>
    <p>
        Wir sind zwei junge, angehende schweizer Maturanten, die diese Website als den praktischen Teil einer Projektarbeit erstellt haben. Wir beide investieren am Aktienmarkt in ETFs und Aktien und wollten deshalb eine Projektarbeit erstellen, die etwas mit unserem gemeinsamen Hobby zu tun hat.

        Als wir mit dem Investieren anfingen, fanden wir es schwer eine zuverlässige Informationsquelle zu finden, welche kein Vermögen kostete und bei der alle benötigten Informationen auf einen Blick ersichtlich waren. Aus diesem Grund entschieden wir uns, einen überschaubaren Stock-Screener zu entwickeln, bei dem alle Informationen kostenlos zur Verfügung gestellt werden.

        Unser Ziel ist es, jungen Investorinnen und Investoren einen tiefen Einblick in die Bilanzen der Unternehmen zu bieten und ihr wissen über den Aktienmarkt zu vergrössern
    </p>
</div>

@code {

}
