@page "/info"
@using BlazorApp1.Shared.Data

<PageTitle>Information - IDPA Aktienanalyse</PageTitle>
<PageHeader HeaderTitle="Disclaimer"></PageHeader>
<br />

<style>
    body {
        margin: 0;
        min-height: 100vh;
        background: #fafafa;
        padding: 0;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container text-center">
    <h4 style="color: var(--signature-yellow);">All information is provided without guarantee!</h4>
    <p>
        While we are committed to the truthfulness of information, due to our
        lack of responsibility for data management, we cannot guarantee the
        accuracy of any of the data we provide. All data is sourced from the API
        of Financial Modeling Preparation (FMP). Please note that this is not investment advice, and the authors are not
        liable for any actions you may take as a result.
    </p>
</div>
<br />

<div class="container text-center">
    <h4 style="color: var(--signature-blue);">Introduction</h4>
    <p>
        As a well-rehearsed duo we decided about half a year ago to do our Matura thesis (Interdisciplinary Project Work) of the technical vocational baccalaureate at the "Gewerblich-Industrieelle Berufsfachschule Solothurn" together. We are two prospective Matura students in the seventh semester, based in the canton of Solothurn, Switzerland.
        We both actively invest in the stock market and find great pleasure and interest in it. So we came up with the idea to cover our needs, as well as the needs of our fellow students, in the form of a responsive web application. These needs include the general acquisition of information about listed companies, its quarterly & annual figures, news about the stock market, an understandable overview of all sectors, winners as well as losers on the market. Also, a major goal of our work is to develop a website that even a layman will quickly recognize. Bringing together different sources of information is very important to us, as we had big problems with this at the beginning of our investment career.
    </p>
</div>

@code {

}
