@inherits LayoutComponentBase

<div class="base-container">
    <StocksNavMenu></StocksNavMenu>
    <div class="body-test">
        @Body
    </div>
    <footer>
        <ul class="wrapper">
            <a href="#" target="_blank">
                <li class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                </li>
            </a>
            <a href="#" target="_blank">
                <li class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                </li>
            </a>
            <a href="#" target="_blank">
                <li class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fab fa-instagram"></i></span>
                </li>
            </a>
            <a href="#" target="_blank">
                <li class="icon youtube">
                    <span class="tooltip">Youtube</span>
                    <span><i class="fab fa-youtube"></i></span>
                </li>
            </a>
        </ul>
    </footer>
</div>