@media only screen and (max-width: 600px) {

    header {
        width: 100%;
        height: 6rem;
        top: 0;
        z-index: 1;
        margin-bottom: 0rem;
    }

        header > div {
            width: calc(100% - 3rem);
            max-width: 47rem;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    
    #title {
        display: none;
    }

    #reference {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .svg-icon {
        font-size: 1em;
    }

    .wrapper .tooltip {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    header {
        width: 100%;
        height: 8rem;
        top: 0;
        z-index: 1;
        margin-bottom: 1rem;
    }

        header > div {
            width: calc(100% - 3rem);
            max-width: 47rem;
            height: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 1rem;
        }

    main > figure:hover {
        box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
    }

    #folders > article:hover {
        box-shadow: 0 16px 16px -4px rgba(0, 0, 0, 0.1);
        transform: scale(1.02);
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }
}

.navicon {
    font-size: 23px;
}

#title {
    width: 100%;
}

    #title .parent {
        line-height: 1em;
        color: black;
    }

    #title .name {
        font-size: 2em;
        font-weight: bold;
        color: #666;
        mix-blend-mode: difference;
    }

#reference {
    display: flex;
}

    #reference > a {
        color: #444;
    }

        #reference > a + a {
            margin-left: 1rem;
        }

main, #folders {
    width: calc(100% - 3rem);
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem;
}

    main > article {
        width: 100%;
        height: 32px;
        padding: 1rem;
        background-color: #FFF;
    }

    main > figure {
        width: 100%;
        margin: 0;
        background-color: #FFF;
        background-size: cover;
        border-radius: 1rem;
        transition: all 100ms ease-out;
    }

        main > figure:after {
            content: "";
            padding-bottom: 100%;
            display: block;
        }

        main > figure > figcaption {
            margin: 1rem;
            color: #FFF;
            font-size: 1.25em;
            position: absolute;
        }

#folders {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

    #folders > article {
        width: 100%;
        height: 4rem;
        padding: 0 1.5rem;
        background-color: #FFF;
        border-radius: 1rem;
        line-height: 4rem;
        transition: all 100ms ease-out;
    }

footer {
    width: 100%;
    height: 8rem;
}

.svghover:hover .svg-icon path {
    color: var(--signature-yellow);
}

.svghover:active .svg-icon path {
    color: var(--signature-yellow);
}

::deep .nav-active .svg-icon {
    color: var(--signature-yellow);
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

    a:visited {
        color: black;
    }

.wrapper {
    padding-top: 3rem;
    color: black;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .wrapper .icon {
        position: relative;
        color: black;
        width: 50px;
        height: 50px;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .wrapper .tooltip {
        position: absolute;
        top: 0;
        font-size: 14px;
        color: #ffffff;
        padding: 5px 8px;
        border-radius: 5px;
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

        .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            top: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

    .wrapper .icon:hover .tooltip {
        top: 45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper .icon:hover {
        color: var(--signature-yellow);
    }

        .wrapper .icon:hover .tooltip,
        .wrapper .icon:hover .tooltip::before {
            color: var(--signature-yellow);
        }