@inherits LayoutComponentBase

<div class="base-container">
    <StocksNavMenu></StocksNavMenu>
    <div class="body-test">
        @Body
    </div>
    <footer>
        <span class="wrapper">
            <a href="#" target="_blank">
                <span class="icon facebook">
                    <span class="tooltip">Impressum</span>
                    <span><i class="fa-solid fa-paperclip"></i></span>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="icon twitter">
                    <span class="tooltip">Contact</span>
                    <span><i class="fa-solid fa-envelope"></i></span>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="icon instagram">
                    <span class="tooltip">Donate</span>
                    <span><i class="fab fa-paypal"></i></span>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="icon youtube">
                    <span class="tooltip">Review</span>
                    <span><i class="fa-solid fa-comment"></i></span>
                </span>
            </a>
        </span>
    </footer>
</div>
