@inherits LayoutComponentBase

<div class="base-container">
    <StocksNavMenu></StocksNavMenu>
    <div class="body-test">
        @Body
    </div>
    <footer>
        <span class="wrapper">
            <a href="#" target="_blank">
                <span class="icon">
                    <span class="tooltip">Impressum</span>
                    <span><i class="fa fa-paperclip"></i></span>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="icon">
                    <span class="tooltip">Contact</span>
                    <span><i class="fa fa-envelope"></i></span>
                </span>
            </a>
            <a href="#" target="_blank">
                <span class="icon">
                    <span class="tooltip">Donate</span>
                    <span><i class="fa-brands fa-paypal"></i></span>
                </span>
            </a>
            <a href="https://github.com/vincentwtln/stocks" target="_blank">
                <span class="icon">
                    <span class="tooltip">Github</span>
                    <span><i class="fa-brands fa-github"></i></span>
                </span>
            </a>
        </span>
    </footer>
</div>
