@inherits LayoutComponentBase

<div class="base-container">
    <StocksNavMenu></StocksNavMenu>
    <div class="body-test">
        @Body
    </div>
    <footer>
        <span class="wrapper">
            <a href="https://www.facebook.com/" target="_blank">
                <span class="icon facebook">
                    <span class="tooltip">Facebook</span>
                    <span><i class="fab fa-facebook-f"></i></span>
                </span>
            </a>
            <a href="https://twitter.com/" target="_blank">
                <span class="icon twitter">
                    <span class="tooltip">Twitter</span>
                    <span><i class="fab fa-twitter"></i></span>
                </span>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <span class="icon instagram">
                    <span class="tooltip">Instagram</span>
                    <span><i class="fab fa-instagram"></i></span>
                </span>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
                <span class="icon youtube">
                    <span class="tooltip">Youtube</span>
                    <span><i class="fab fa-youtube"></i></span>
                </span>
            </a>
        </span>
    </footer>
</div>